.b300x600 {
    font-family: 'lato', sans-serif;
    position: relative;
    width: 300px;
    height: 600px;
}

.b300x600 .banner {
    overflow: hidden;
    width: 298px;
    height: 598px;
    border: 1px solid #000;
}

/*helpers*/

.b300x600 .absolute {
    position: absolute;
}

.b300x600 .cover {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    -webkit-background-position: 50%;
    -moz-background-position: 50%;
    -o-background-position: 50%;
}

.b300x600 .contain {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    -webkit-background-position: 50%;
    -moz-background-position: 50%;
    -o-background-position: 50%;
}

.b300x600 .center-bg {
    background-position: 50%;
    -webkit-background-position: 50%;
    -moz-background-position: 50%;
    -o-background-position: 50%;
}

.b300x600 .hidden {
    visibility: hidden;
    opacity: 0;
}


/*container*/
.b300x600 .banner {
    overflow: hidden;
    width: 298px;
    height: 598px;
    border: 1px solid #000;
}

.b300x600 .clicktag-general {
    position: absolute;
    top: 0;
    left: 0;
    width: 298px;
    height: 598px;
}

.b300x600 .logo {
  z-index: 2;
  top: 13px;
  left: 0;
  width: 100%;
  height: 22px;
}

.b300x600 .header {
  top: -1px;
  left: -1px;
  width: 298px;
  height: 361px;
}

.b300x600 .footer {
  bottom: 0;
  left: 0;
  width: 300px;
  height: 58px;
}

.b300x600 .text1 {
      top: -2px;
      left: -2px;
      width: 100%;
      height: 240px;
}

.b300x600 .text2 {
    z-index: 2;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 125px;
    background-size: 100% auto;
}

.b300x600 .cta {
  right: 0;
  bottom: 14px;
  left: 0;
  width: 215px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  line-height: 31px;
}

/*gallery*/

.b300x600 .gallery {
  top: 360px;
  left: 0;
  overflow: hidden;
  width: 300px;
  height: 180px;
}

.b300x600 .arrow-left
{
    z-index: 110;
    left: 142px;
    top: -51px;
    width: 17px;
    height: 125px;

    cursor: pointer;

    background-size: 66.67%;
    background-repeat: no-repeat;
    background-position: center;

    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

}

.b300x600 .arrow-right
{
    z-index: 110;
    right: 142px;
    width: 17px;
    height: 125px;
    cursor: pointer;
    background-size: 66.67%;
    background-repeat: no-repeat;
    background-position: center;
    top: 106px;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.b300x600 .item-container {
    position: absolute;
    overflow: hidden;
    width: 298px;
    height: 100%;
}

.b300x600 .item1 {
    opacity: 1;
}

.b300x600 .items {
    width: 100%;
    height: 100%;
}

.b300x600 .items-text-container {
    left: 24px;
    display: table;
    width: 118px;
    height: 100%;
}

.b300x600 .vert-align {
    display: table-cell;
    vertical-align: middle;
}

.b300x600 .image-item {
    top: 0;
    right: 18px;
    width: 137px;
    height: 100%;
    margin: auto;
}

/*text*/
.b300x600 .no-wrap {
    white-space: nowrap;
}

.b300x600 .item-price {
    line-height: 1;
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 2px;
    text-align: left;
}

.b300x600 .item-price sup {
    vertical-align: -.3em;
}

.b300x600 .item-description {
    font-stretch: normal;
    line-height: 11px;
    margin-bottom: 0;
    text-align: left;
}

.b300x600 .item1 {
    position: absolute;
}

.b300x600 .item1 .imageItem {
    top: -1px;
    right: 0;
    width: 150px;
    height: 100%;
}

/*plus circle*/
.b300x600 .plus-container {
    z-index: 10;
    top: 223px;
    left: 135px;
}

.b300x600 .circle {
    width: 22px;
    height: 22px;
    border: 2px solid #000;
    border-radius: 50%;
    background: #fff;
    -o-border-radius: 50%;
}

.b300x600 .plus-x {
    top: 9px;
    left: 3px;
    width: 12px;
    height: 2px;
    background: #000;
}

.b300x600 .plus-y {
    top: 4px;
    left: 8px;
    width: 2px;
    height: 12px;
    background: #000;
}